<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>531003935379-gmveog0o8ldrdp4nd29blc9is9iqpo2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.531003935379-gmveog0o8ldrdp4nd29blc9is9iqpo2v</string>
	<key>API_KEY</key>
	<string>AIzaSyCKvz834UHtIYlo6xfpK1Uh2S6eJsBaswU</string>
	<key>GCM_SENDER_ID</key>
	<string>531003935379</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>claireecho.Anti-Islamophobia</string>
	<key>PROJECT_ID</key>
	<string>love4muslims-1808f</string>
	<key>STORAGE_BUCKET</key>
	<string>love4muslims-1808f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:531003935379:ios:45e17dce3e6864317d5b66</string>
	<key>DATABASE_URL</key>
	<string>https://love4muslims-1808f.firebaseio.com</string>
</dict>
</plist>